<article id="colors">
  <h2 class="pos-heading-2">Colors</h2>

  <h3 class="styleguide-subheading">General content</h3>
  <ul>
    <li>
      <h4 class="pos-heading-4 styleguide-heading-4">Page background</h4>
      <div class="styleguide-colors">
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-page-background);">
            <small class="styleguide-color-variable">--pos-color-page-background</small>
          </div>
          <small class="styleguide-color-hex">#</small>
        </div>
      </div>
    </li>
    <li>
      <h4 class="pos-heading-4 styleguide-heading-4">Content background</h4>
      <div class="styleguide-colors">
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-content-background);">
            <small class="styleguide-color-variable">--pos-color-content-background</small>
          </div>
          <small class="styleguide-color-hex">#</small>
        </div>
      </div>
    </li>
    <li>
      <h4 class="pos-heading-4 styleguide-heading-4">Content text & icons</h4>
      <div class="styleguide-colors">
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-content-text);"><small class="styleguide-color-variable">--pos-color-content-text</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-content-icon);"><small class="styleguide-color-variable">--pos-color-content-icon</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-content-text-supplementary);"><small class="styleguide-color-variable">--pos-color-content-text-supplementary</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-content-text-prominent);"><small class="styleguide-color-variable">--pos-color-content-text-prominent</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
      </div>
    </li>
    <li>
      <h4 class="pos-heading-4 styleguide-heading-4">Borders & separators</h4>
      <div class="styleguide-colors">
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-frame);"><small class="styleguide-color-variable">--pos-color-frame</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
      </div>
    </li>
    <li>
      <h4 class="pos-heading-4 styleguide-heading-4">Highlighted elements</h4>
      <div class="styleguide-colors">
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-highlight-background);"><small class="styleguide-color-variable">--pos-color-highlight-background</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-highlight-text);"><small class="styleguide-color-variable">--pos-color-highlight-text</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
      </div>
    </li>
    <li>
      <h4 class="pos-heading-4 styleguide-heading-4">Standout sections, call to actions</h4>
      <div class="styleguide-colors">
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-standout-background);"><small class="styleguide-color-variable">--pos-color-standout-background</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-standout-background-hover);"><small class="styleguide-color-variable">--pos-color-standout-background-hover</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-standout-text);"><small class="styleguide-color-variable">--pos-color-standout-text</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
      </div>
    </li>
  </ul>

  <h3 class="styleguide-subheading">Interactive elements</h3>
  <ul>
    <li>
      <h4 class="pos-heading-4 styleguide-heading-4">Links</h4>
      <div class="styleguide-colors">
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-interactive);"><small class="styleguide-color-variable">--pos-color-interactive</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-interactive-hover);"><small class="styleguide-color-variable">--pos-color-interactive-hover</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-interactive-active);"><small class="styleguide-color-variable">--pos-color-interactive-active</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-interactive-disabled);"><small class="styleguide-color-variable">--pos-color-interactive-disabled</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
      </div>
    </li>

    <li>
      <h4 class="pos-heading-4 styleguide-heading-4">Primary buttons</h4>
      <div class="styleguide-colors">
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-button-primary-background);"><small class="styleguide-color-variable">--pos-color-button-primary-background</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-button-primary-frame);"><small class="styleguide-color-variable">--pos-color-button-primary-frame</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-button-primary-text);"><small class="styleguide-color-variable">--pos-color-button-primary-text</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
      </div>
      <div class="styleguide-colors">
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-button-primary-hover-background);"><small class="styleguide-color-variable">--pos-color-button-primary-hover-background</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-button-primary-hover-frame);"><small class="styleguide-color-variable">--pos-color-button-primary-hover-frame</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-button-primary-hover-text);"><small class="styleguide-color-variable">--pos-color-button-primary-hover-text</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
      </div>
      <div class="styleguide-colors">
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-button-primary-active-background);"><small class="styleguide-color-variable">--pos-color-button-primary-active-background</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-button-primary-active-frame);"><small class="styleguide-color-variable">--pos-color-button-primary-active-frame</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-button-primary-active-text);"><small class="styleguide-color-variable">--pos-color-button-primary-active-text</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
      </div>
      <div class="styleguide-colors">
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-button-primary-disabled-background);"><small class="styleguide-color-variable">--pos-color-button-primary-disabled-background</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-button-primary-disabled-frame);"><small class="styleguide-color-variable">--pos-color-button-primary-disabled-frame</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-button-primary-disabled-text);"><small class="styleguide-color-variable">--pos-color-button-primary-disabled-text</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
      </div>
    </li>

    <li>
      <h4 class="pos-heading-4 styleguide-heading-4">Secondary buttons</h4>
      <div class="styleguide-colors">
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-button-secondary-background);"><small class="styleguide-color-variable">--pos-color-button-secondary-background</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-button-secondary-frame);"><small class="styleguide-color-variable">--pos-color-button-secondary-frame</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-button-secondary-text);"><small class="styleguide-color-variable">--pos-color-button-secondary-text</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
      </div>
      <div class="styleguide-colors">
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-button-secondary-hover-background);"><small class="styleguide-color-variable">--pos-color-button-secondary-hover-background</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-button-secondary-hover-frame);"><small class="styleguide-color-variable">--pos-color-button-secondary-hover-frame</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-button-secondary-hover-text);"><small class="styleguide-color-variable">--pos-color-button-secondary-hover-text</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
      </div>
      <div class="styleguide-colors">
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-button-secondary-active-background);"><small class="styleguide-color-variable">--pos-color-button-secondary-active-background</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-button-secondary-active-frame);"><small class="styleguide-color-variable">--pos-color-button-secondary-active-frame</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-button-secondary-active-text);"><small class="styleguide-color-variable">--pos-color-button-secondary-active-text</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
      </div>
      <div class="styleguide-colors">
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-button-secondary-disabled-background);"><small class="styleguide-color-variable">--pos-color-button-secondary-disabled-background</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-button-secondary-disabled-frame);"><small class="styleguide-color-variable">--pos-color-button-secondary-disabled-frame</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-button-secondary-disabled-text);"><small class="styleguide-color-variable">--pos-color-button-secondary-disabled-text</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
      </div>
    </li>
  </ul>

  <h3 class="styleguide-subheading">Browser UI</h3>
  <ul>
    <li>
      <h4 class="pos-heading-4 styleguide-heading-4">Focused elements highlight</h4>
      <div class="styleguide-colors">
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-focused);"><small class="styleguide-color-variable">--pos-color-focused</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
      </div>
    </li>
    <li>
      <h4 class="pos-heading-4 styleguide-heading-4">Text selection highlight</h4>
      <div class="styleguide-colors">
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-selection-background);"><small class="styleguide-color-variable">--pos-color-selection-background</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-selection-text);"><small class="styleguide-color-variable">--pos-color-selection-text</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
      </div>
    </li>
  </ul>

  <h3 class="styleguide-subheading">Forms</h3>
  <ul>
    <li>
      <h4 class="pos-heading-4 styleguide-heading-4">Placeholder text</h4>
      <div class="styleguide-colors">
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-input-placeholder);"><small class="styleguide-color-variable">--pos-color-input-placeholder</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
      </div>
    </li>
    <li>
      <h4 class="pos-heading-4 styleguide-heading-4">Input field</h4>
      <div class="styleguide-colors">
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-input-background);"><small class="styleguide-color-variable">--pos-color-input-background</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-input-frame);"><small class="styleguide-color-variable">--pos-color-input-frame</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-input-text);"><small class="styleguide-color-variable">--pos-color-input-text</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
      </div>
      <div class="styleguide-colors">
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-input-hover-background);"><small class="styleguide-color-variable">--pos-color-input-hover-background</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-input-hover-frame);"><small class="styleguide-color-variable">--pos-color-input-hover-frame</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-input-hover-text);"><small class="styleguide-color-variable">--pos-color-input-hover-text</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
      </div>
      <div class="styleguide-colors">
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-input-active-background);"><small class="styleguide-color-variable">--pos-color-input-active-background</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-input-active-frame);"><small class="styleguide-color-variable">--pos-color-input-active-frame</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-input-active-text);"><small class="styleguide-color-variable">--pos-color-input-active-text</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
      </div>
      <div class="styleguide-colors">
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-input-disabled-background);"><small class="styleguide-color-variable">--pos-color-input-disabled-background</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-input-disabled-frame);"><small class="styleguide-color-variable">--pos-color-input-disabled-frame</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-input-disabled-text);"><small class="styleguide-color-variable">--pos-color-input-disabled-text</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
      </div>
    </li>
  </ul>

  <h3 class="styleguide-subheading">Utility</h3>
  <ul>
    <li>
      <h4 class="pos-heading-4 styleguide-heading-4">Statuses</h4>
      <div class="styleguide-colors">
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-important);"><small class="styleguide-color-variable">--pos-color-important</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-important-hover);"><small class="styleguide-color-variable">--pos-color-important-hover</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-important-disabled);"><small class="styleguide-color-variable">--pos-color-important-disabled</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
      </div>
      <div class="styleguide-colors">
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-warning);"><small class="styleguide-color-variable">--pos-color-warning</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-warning-hover);"><small class="styleguide-color-variable">--pos-color-warning-hover</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-warning-disabled);"><small class="styleguide-color-variable">--pos-color-warning-disabled</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
      </div>
      <div class="styleguide-colors">
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-confirmation);"><small class="styleguide-color-variable">--pos-color-confirmation</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-confirmation-hover);"><small class="styleguide-color-variable">--pos-color-confirmation-hover</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
        <div class="styleguide-color-container">
          <div class="styleguide-color" style="background-color: var(--pos-color-confirmation-disabled);"><small class="styleguide-color-variable">--pos-color-confirmation-disabled</small></div>
          <small class="styleguide-color-hex">#</small>
        </div>
      </div>
    </li>
  </ul>

</article>
