<article id="fonts">
  <h2 class="pos-heading-2">Fonts</h2>

  <div class="styleguide-columns">
    <div>
      <div class="styleguide-fonts-prose">
        <p style="font-family: var(--pos-font-default);">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In euismod aliquet nisi euismod eleifend. Phasellus justo tellus, aliquet ac aliquam ut, dictum eu augue.</p>
        <p style="font-family: var(--pos-font-default);">Nullam vitae ex sed ligula convallis suscipit. Maecenas et neque facilisis.</p>
      </div>

      <picture class="styleguide-fonts-example" style="font-family: var(--pos-font-default);">
        <strong>Aa</strong>
        <ul>
          <li style="font-weight: 300;">Light</li>
          <li style="font-weight: 400;">Regular</li>
          <li style="font-weight: 500;">Medium</li>
          <li style="font-weight: 600;">Semi Bold</li>
          <li style="font-weight: 700;">Bold</li>
        </ul>
        <aside>
          <em>BbCc123</em>
          <small>
            ABCDEFGHIJKLMNOPRSTUVWXYZ<br>
            abcdefghijklmnoprstuvwxyz<br>
            1234567890&nbsp;&nbsp; <>/@&!%?+
          </small>
        </aside>
      </picture>
      <dl class="styleguide-details styleguide-details-highlighted">
        <dt>Property</dt><dd><code>--pos-font-default</code></dd>
        <dt>Font family</dt><dd class="styleguide-typography-content-family"></dd>
        <dt>Default font size</dt><dd class="styleguide-typography-content-size"></dd>
      </dl>
    </div>

    <div>
      <div class="styleguide-fonts-prose">
        <p style="font-family: var(--pos-font-heading);">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In euismod aliquet nisi euismod eleifend. Phasellus justo tellus, aliquet ac aliquam ut, dictum eu augue.</p>
        <p style="font-family: var(--pos-font-heading);">Nullam vitae ex sed ligula convallis suscipit. Maecenas et neque facilisis.</p>
      </div>

      <picture class="styleguide-fonts-example" style="font-family: var(--pos-font-heading);">
        <strong>Aa</strong>
        <ul>
          <li style="font-weight: 300;">Light</li>
          <li style="font-weight: 400;">Regular</li>
          <li style="font-weight: 500;">Medium</li>
          <li style="font-weight: 600;">Semi Bold</li>
          <li style="font-weight: 700;">Bold</li>
        </ul>
        <aside>
          <em>BbCc123</em>
          <small>
            ABCDEFGHIJKLMNOPRSTUVWXYZ<br>
            abcdefghijklmnoprstuvwxyz<br>
            1234567890&nbsp;&nbsp; <>/@&!%?+
          </small>
        </aside>
      </picture>
      <dl class="styleguide-details styleguide-details-highlighted">
        <dt>Property</dt><dd><code>--pos-font-heading</code></dd>
        <dt>Font family</dt><dd class="styleguide-typography-content-family"></dd>
        <dt>Default font size</dt><dd class="styleguide-typography-content-size"></dd>
      </dl>
    </div>
  </div>

</article>
