<article id="gradients">
  <h2 class="pos-heading-2">Gradients and shadows</h2>

  <h3 class="pos-heading-4 styleguide-heading-4">Increasing text legibility over images</h3>
  <p>When placing text on top of an image, you may need to improve legibility and ensure the contrast stays high. You can achieve this with the eased gradient available through the CSS custom property <code>--pos-gradient-legibility</code> or by using the pre-defined class <code>pos-increaseLegibility</code>. Use the class with caution, as it relies on relative positioning and may affect your layout in some cases.</p>
  <dl class="styleguide-details">
    <dt>Class</dt><dd><code>pos-increaseLegibility</code></dd>
    <dt>Properties</dt><dd><code>--pos-gradient-legibility</code></dd>
  </dl>

  <picture class="styleguide-example pos-increaseLegibility" style="margin-block-start: var(--pos-gap-section-elements); background-color: #fff;">
    <h4 class="pos-heading-4" style="color: #fff;">The quick brown fox</h4>
  </picture>
</article>
