    <article id="headings">
      <h2 class="pos-heading-2">Headings</h2>

      <h3 class="pos-heading-4 styleguide-heading-4">Heading 1</h3>
      <div class="styleguide-columns">
        <dl class="styleguide-details">
          <dt>Class</dt><dd><code>pos-heading-1</code></dd>
          <dt>Font family</dt><dd class="styleguide-typography-content-family"></dd>
          <dt>Color</dt><dd class="styleguide-typography-content-color"></dd>
          <dt>Size</dt><dd class="styleguide-typography-content-size"></dd>
          <dt>Weight</dt><dd class="styleguide-typography-content-weight"></dd>
          <dt>Line height</dt><dd class="styleguide-typography-content-lineheight"></dd>
        </dl>
        <div>
          <picture class="styleguide-example pos-heading-1">
            The quick brown fox jumps over the lazy dog
          </picture>
{% capture code %}{% raw %}
<h1 class="pos-heading-1">The quick brown fox jumps over the lazy dog</h1>
{% endraw %}{% endcapture %}
          <div class="styleguide-code">
            <pre><code>{{ code | lstrip | rstrip }}</code></pre>
          </div>
        </div>
      </div>

      <h3 class="pos-heading-4 styleguide-heading-4">Heading 2</h3>
      <div class="styleguide-columns">
        <dl class="styleguide-details">
          <dt>Class</dt><dd><code>pos-heading-2</code></dd>
          <dt>Font family</dt><dd class="styleguide-typography-content-family"></dd>
          <dt>Color</dt><dd class="styleguide-typography-content-color"></dd>
          <dt>Size</dt><dd class="styleguide-typography-content-size"></dd>
          <dt>Weight</dt><dd class="styleguide-typography-content-weight"></dd>
          <dt>Line height</dt><dd class="styleguide-typography-content-lineheight"></dd>
        </dl>
        <div>
          <picture class="styleguide-example pos-heading-2">
            The quick brown fox jumps over the lazy dog
          </picture>
{% capture code %}{% raw %}
<h2 class="pos-heading-2">The quick brown fox jumps over the lazy dog</h2>
{% endraw %}{% endcapture %}
          <div class="styleguide-code">
            <pre><code>{{ code | lstrip | rstrip }}</code></pre>
          </div>
        </div>
      </div>

      <h3 class="pos-heading-4 styleguide-heading-4">Heading 3</h3>
      <div class="styleguide-columns">
        <dl class="styleguide-details">
          <dt>Class</dt><dd><code>pos-heading-3</code></dd>
          <dt>Font family</dt><dd class="styleguide-typography-content-family"></dd>
          <dt>Color</dt><dd class="styleguide-typography-content-color"></dd>
          <dt>Size</dt><dd class="styleguide-typography-content-size"></dd>
          <dt>Weight</dt><dd class="styleguide-typography-content-weight"></dd>
          <dt>Line height</dt><dd class="styleguide-typography-content-lineheight"></dd>
        </dl>
        <div>
          <picture class="styleguide-example pos-heading-3">
            The quick brown fox jumps over the lazy dog
          </picture>
{% capture code %}{% raw %}
<h3 class="pos-heading-3">The quick brown fox jumps over the lazy dog</h3>
{% endraw %}{% endcapture %}
          <div class="styleguide-code">
            <pre><code>{{ code | lstrip | rstrip }}</code></pre>
          </div>
        </div>
      </div>

      <h3 class="pos-heading-4 styleguide-heading-4">Heading 4</h3>
      <div class="styleguide-columns">
        <dl class="styleguide-details">
          <dt>Class</dt><dd><code>pos-heading-4</code></dd>
          <dt>Font family</dt><dd class="styleguide-typography-content-family"></dd>
          <dt>Color</dt><dd class="styleguide-typography-content-color"></dd>
          <dt>Size</dt><dd class="styleguide-typography-content-size"></dd>
          <dt>Weight</dt><dd class="styleguide-typography-content-weight"></dd>
          <dt>Line height</dt><dd class="styleguide-typography-content-lineheight"></dd>
        </dl>
        <div>
          <picture class="styleguide-example pos-heading-4">
            The quick brown fox jumps over the lazy dog
          </picture>
{% capture code %}{% raw %}
<h4 class="pos-heading-4">The quick brown fox jumps over the lazy dog</h4>
{% endraw %}{% endcapture %}
          <div class="styleguide-code">
            <pre><code>{{ code | lstrip | rstrip }}</code></pre>
          </div>
        </div>
      </div>

    </article>
