<article id="spacings">
  
  <h2 class="pos-heading-2">Spacings</h2>

  <div class="styleguide-columns">

    <div>
      <div class="styleguide-example styleguide-spacings-example">
        <div class="styleguide-placeholder-input"></div>
        <div class="styleguide-placeholder-input pos-mt-section-section"></div>
      </div>
      <dl class="styleguide-details">
        <dt>Class</dt><dd><code>pos-gap-section-section</code>, <code>pos-mt-section-section</code></dd>
        <dt>Properties</dt><dd><code>--pos-gap-section-section</code></dd>
      </dl>
    </div>

    <div>
      <div class="styleguide-example styleguide-spacings-example">
        <div class="styleguide-placeholder-input"></div>
        <div class="styleguide-placeholder-input pos-mt-text-text"></div>
      </div>
      <dl class="styleguide-details">
        <dt>Class</dt><dd><code>pos-gap-text-text</code>, <code>pos-mt-text-text</code></dd>
        <dt>Properties</dt><dd><code>--pos-gap-text-text</code></dd>
      </dl>
    </div>

  </div>

</article>