<article id="tables">
  <h2 class="pos-heading-2">Tables</h2>

  <div class="styleguide-columns">
    {% capture code %}{% raw %}
<section class="pos-table">
  <header>
    <div>Column 1</div>
    <div>Column 2</div>
    <div class="pos-table-number">Column 3</div>
  </header>
  <div class="pos-table-content pos-card">
    <ul>
      <li>
        <span class="pos-table-content-heading">Column 1</span>
        Content 1
      </li>
      <li>
        <span class="pos-table-content-heading">Column 1</span>
        Content 2
      </li>
      <li class="pos-table-number">
        <span class="pos-table-content-heading">Column 3</span>
        321
      </li>
    </ul>
  </div>
</section>
    {% endraw %}{% endcapture %}
    <div>
      <div class="styleguide-code">
        <pre><code>{{ code | lstrip | rstrip }}</code></pre>
      </div>
    </div>
    <div>
      <div class="styleguide-example">
        <section class="pos-table">
          <header>
            <div>Column 1</div>
            <div>Column 2</div>
            <div class="pos-table-number">Column 3</div>
          </header>
          <div class="pos-table-content pos-card">
            <ul>
              <li>
                <span class="pos-table-content-heading">Column 1</span>
                Content 1
              </li>
              <li>
                <span class="pos-table-content-heading">Column 1</span>
                Content 2
              </li>
              <li class="pos-table-number">
                <span class="pos-table-content-heading">Column 3</span>
                321
              </li>
            </ul>
            <ul>
              <li>
                <span class="pos-table-content-heading">Column 1</span>
                Content 2
              </li>
              <li>
                <span class="pos-table-content-heading">Column 2</span>
                Content 2
              </li>
              <li class="pos-table-number">
                <span class="pos-table-content-heading">Column 3</span>
                123
              </li>
            </ul>
          </div>
        </section>
      </div>
      <dl class="styleguide-details">
        <dt>class</dt><dd><code>pos-table</code></dd>
        <dt>props</dt><dd><code>--pos-padding-cell</code></dd>
      </dl>
    </div>
  </div>

  <div class="styleguide-columns">
    {% capture code %}{% raw %}
<section class="pos-table">
  <header>
    <div>Column 1</div>
    <div>Column 2</div>
    <div class="pos-table-number">Column 3</div>
  </header>
  <div class="pos-table-content">
    <ul>
      <li>
        <span class="pos-table-content-heading">Column 1</span>
        Content 1
      </li>
      <li>
        <span class="pos-table-content-heading">Column 1</span>
        Content 2
      </li>
      <li class="pos-table-number">
        <span class="pos-table-content-heading">Column 3</span>
        321
      </li>
    </ul>
  </div>
</section>
    {% endraw %}{% endcapture %}
    <div>
      <div class="styleguide-code">
        <pre><code>{{ code | lstrip | rstrip }}</code></pre>
      </div>
    </div>
    <div>
      <div class="styleguide-example">
        <section class="pos-table">
          <header>
            <div>Column 1</div>
            <div>Column 2</div>
            <div class="pos-table-number">Column 3</div>
          </header>
          <div class="pos-table-content">
            <ul>
              <li>
                <span class="pos-table-content-heading">Column 1</span>
                Content 1
              </li>
              <li>
                <span class="pos-table-content-heading">Column 1</span>
                Content 2
              </li>
              <li class="pos-table-number">
                <span class="pos-table-content-heading">Column 3</span>
                321
              </li>
            </ul>
            <ul>
              <li>
                <span class="pos-table-content-heading">Column 1</span>
                Content 2
              </li>
              <li>
                <span class="pos-table-content-heading">Column 2</span>
                Content 2
              </li>
              <li class="pos-table-number">
                <span class="pos-table-content-heading">Column 3</span>
                123
              </li>
            </ul>
          </div>
        </section>
      </div>
      <dl class="styleguide-details">
        <dt>class</dt><dd><code>pos-table</code></dd>
        <dt>props</dt><dd><code>--pos-padding-cell</code></dd>
      </dl>
    </div>
  </div>
</article>
