  <!DOCTYPE html>
<html class="pos-app">
  <html class="pos-app">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Contact Us form">
    <title>Contact Us Form</title>

    {%- render 'modules/common-styling/init' -%}
    <link rel="stylesheet" href="{{ 'variables.css' | asset_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes">
  </head>
  <body>
    {{ content_for_layout }}

    {% liquid
      theme_render_rc 'modules/common-styling/toasts'
    %}

  </body>
  
</html>
