<!DOCTYPE html>
<html lang="en" class="pos-app">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Contact Us form">
    <title>Contact Us Form</title>

    {% render 'modules/common-styling/init', reset: true %}
    <link rel="stylesheet" href="{{ 'variables.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'app.css' | asset_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes">
  </head>
  <body>
    {% render 'layout/nav' %}

    <div class="container">
      {{ content_for_layout }}
    </div>

    {% liquid
      function flash = 'modules/core/commands/session/get', key: 'sflash', clear: null
      if context.location.pathname != flash.from or flash.force_clear
        function _ = 'modules/core/commands/session/clear', key: 'sflash'
      endif
      render 'modules/common-styling/toasts', params: flash
    %}
  </body>
</html>
